body{
    margin:0px;
    padding: 0px;
    font-family: 'PT Serif', serif;
    overflow-x: hidden;
}
button{
    font-family: 'DM Serif Display', serif;
}
h2{
    font-size: 1.5rem;
    color: #559CAD;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}
b{
    cursor: pointer;
    font-weight: bolder;
}
.pt-text{
    font-family: 'PT Serif', serif;
}
.dm-text{
     font-family: 'DM Serif Display', serif;
}
.active-btn{
    background:none ;
    border-radius: 1rem;
    width: fit-content;
}
.active-nav{
    color: #E1CE7A;
    border-bottom: 2px solid #E1CE7A;
}
.hide{
    display: none;
}
.logo-img-2{
    display: none;
}
.transparent{
    opacity: 0%;
    animation-name: transparasize;
    animation-duration: 2s;
}
.opaque{
    opacity: 100%;
    animation-name: opaqusize;
    animation-duration: 2s;
}
/* TEMPLES DEFAULT */
.temples-overlay{
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 100vh;
    width: 100vw;
    position: sticky;
    top:0px;
    background-color: #423e37ad;
}


/* HEADER */
/* /////////////////////////////////////////// */
/* HOME PAGE HEADER */
/* //////////////// */
header{
    display:grid;
    height: 85vh;
    color: #FFFFFF;
    grid-template-columns: 30% 1fr 25%;
    grid-template-rows: 25% 1fr 1fr 20%;
    justify-items: center;
    text-align: center;
    gap:1rem;
    transition: all 0.5s;
}
.header-img{
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: -2;
    width: 100vw;
    height: 100%;
}
header .overlay{
    grid-column: 1/-1;
    grid-row: 1/-1;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(66,62,55,0.5801918179381127) 27%, rgba(66,62,55,1) 100%);
    height: 100%;
    width: 100%;
    z-index: -1;
}
#nav-overlay{
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(66,62,55,0.9443374762014181) 27%, rgba(66,62,55,1) 100%);
}
.logo-img{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 40%;
    padding: 5rem;
}
header button.nav-btn{
    grid-row: 1/2;
    grid-column: 3/4;
    border: none;
    color: #423E37;
    font-weight: bolder;
    font-size: 2.5rem;
    transform: translateY(2rem);
    align-self:center;
    background: none;
}
header button span:nth-child(2){
    display: none;
}
header button.show-nav span:nth-child(1){
    display: none;
}
header button.show-nav span:nth-child(2){
    display: block;
}
header nav{
    grid-row: 2/-1;
    grid-column: 1/-1;
    font-size: 1.6rem;
    justify-self:center;
}
header nav ul{
    list-style-type: none;
    height: 100%;
    padding-left: 0px;
    width: 15rem;
}

header nav ul li{
    display: grid;
    align-items: center;
    justify-items: center;
}
header nav ul li a{
    cursor: default;
    margin-top: 2rem;
    color: inherit;
    text-decoration: inherit;
    padding: 1.5rem;
    padding-bottom: 0.3rem;
    width: 100%;
    height: 100%;
}
header nav ul li:hover{
    color: #E1CE7A;   
    cursor: pointer;}
header h1{
    grid-column: 1/-1;
    grid-row: 2/3;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 3rem;
}
header p{
    grid-column: 1/-1;
    grid-row: 3/4;
    font-size: 1.3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
header button.cta-btn{
    grid-column: 1/-1;
    align-self:center;
    height: 4rem;
    grid-row: 4/5;
    border: 2px solid #E1CE7A;
    color: #E1CE7A;
    font-size: inherit;
    transition: all 0.3s;
}
header button.cta-btn a{
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    height: 120%;
    width: 100%;
}

header button.cta-btn:hover{
    background-color: #E1CE7A;
    color: #423E37;
}
/* OTHER PAGES HEADER */
/* ////////////////// */
.page-header{
    grid-template-columns: 1fr 2fr 1.2fr;
    grid-template-rows: 1fr;
    height: fit-content;
    background-color: #423E37;
}
.page-header .logo-img-2{
    display: block;
    grid-area: 1/1/span 1/span 1;
    padding: 1.5rem;
    justify-self: flex-start;
    align-self: center;
}
.page-header h1{
    grid-area: 1/2/span 1/span 1;
    font-size: 1.5rem;
    text-align: left;
    align-self: center;
}
.page-header button.nav-btn{
    color: #FFFFFF;
    grid-area: 1/3/span 1/span 1;
    align-self: center;
    justify-self: flex-end;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

/* MAIN */
/* ///////////////////////////////////// */
main{
    position: relative;
    top: 0px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    min-height: 23.8vh;
}
/* HOME PAGE MAIN */
.temple-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.temple-info{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 5rem 1fr ;
    gap: 1rem;
    margin: 2rem;
}
.temple-info h2{
    grid-column: 1/-1;
    margin: 1.2rem;
}
.temple-card{
    width: 100%;
    border: 2px solid #E1CE7A;
    border-radius: 0.2rem;
    grid-column: 1/2;
    grid-row: 2/3;
}
.temple-card img{width: 100%;}
.temple-card span{
    display: block;
    padding: 1rem;
}
.temple-name{font-weight: bolder;}
.temple-location{font-size: 0.8rem; color: #559CAD;}
.temple-info-text{
    grid-column: 2/3;
    grid-row: 2/3;
}

hr{
    border: 2px solid #559CAD;
    border-radius: 10px;
    background-color: #559CAD;
    width: 80%;
}
.weather-info{
    display: grid;
    grid-template-rows: 3rem 0.8fr 1fr;
    grid-template-columns: 35% 1fr;
    justify-items: center;
    row-gap: 2rem;
}
.weather-info h2{
    grid-row: 1/2;
    grid-column: 1/-1;
}
.weather-info img{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self:flex-end;
}
.weather-info-main div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: flex-start;
    line-height: 1.5rem;
    row-gap: 1.5rem;
}
.weather-info-main div span:nth-child(2){
    color: #423E37;
    text-align: center;
}
.forecast-grid{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}
.forecast{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rem 1fr 1rem;
    border: 2px solid #E1CE7A;
    border-radius: 1rem;
    padding: 0.8rem;
    text-align: center;
}
.forecast img{
    grid-row: 2/3;
    grid-column: 1/-1;
    align-self: center;
    height: 80%;
    width: 100%;
}
.forecast span{font-size: inherit;}
.forecast span:nth-child(1){grid-column: 1/-1;}
.forecast span:nth-child(2){grid-area: 3/ 1/ span 1/span 1;}
.forecast span:nth-child(3){grid-area: 3/ 2/ span 1/span 1;}

/* TEMPLE PAGE MAIN */
/* //////////////// */
.temple-temple-card{
    display: grid;
    grid-template-rows: 3rem 1fr 0.2fr ;
    grid-template-columns: 1fr 4rem;
    border: 2px solid #559CAD;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.temple-temple-card h2{
    font-size: 1.2rem;
    color: #423E37;
    text-align: left;
    padding-left: 1rem;
    margin: 0.5rem;
    grid-column: 1/3;
    grid-row: 1/2;
}
.temple-temple-card img{
    grid-column: 1/-1;
    width: 100%;
    grid-row: 2/3;
}
.temple-large-card{
    grid-template-rows: 3rem 0.8fr 0.2fr ;
    background-color: #FFFFFF;
    height: 80vh;
    width: 80%;
    position: fixed;
    z-index: 4;
    top: 5rem;
    left:10%;
    overflow-y: scroll;
}
.temple-large-card .close-temple-btn{
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bolder;
    font-size: larger;
    border: none;
}
.temple-short-info, .temple-long-info{
    padding: 1rem;
    grid-column: 1/2;
    width: 100%;
    grid-row: 3/4;
    display: flex;
    color: #423E37;
    flex-direction: column;
    font-weight: bold;
}

.temple-card-action-grid{
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: top;
    justify-self: center;
}
.temple-card-action-grid img{
    width: 100%;
    padding-top: 1rem;
    height: 2.5rem;
}

/* Reservation Main */
/* //////////////// */
main.reservation-main{
    display: grid;
    align-items: center;
    min-height: 60vh;
    padding: 1rem;
    margin: 0 auto;
}
.form-side-text{
    display: none;
}
form{
    background-color: whitesmoke;
    min-height: 19rem;
    margin: 0 auto;
    width: 80%;
    display: grid;
    justify-items: center;
    padding: 1.5rem;
    border-radius: 0.3rem;
    border: 2px solid #0090b4;
    animation-name: backdrop-animation;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}
.form-intro{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-rows: 1.2fr 2.5rem;
    justify-items: center;
}
form h2{
    font-size: 1.3rem;
    margin: 0.5rem;
}
input#temple-location{
    margin:3rem auto ;
    width: 18rem;
    border-radius: 1rem;
    height: 2.4rem;
    text-align: center;
    border: solid 2px #559CAD;
    color: #423E37;
}
input#temple-location:focus, input:focus{
    outline: none;
    border-width: 4px;
}
.form-btn{
    background: none;
    color: #E1CE7A;
    border: 2px solid #dabc3a;
    border-radius: 3rem;
    height: 2rem;
    width: 80%;
    justify-self: center;
    transition: all 0.2s;
    margin: 1rem;
}
.form-btn:hover{
    background-color: #559CAD;
    border: none;
    color: #FFFFFF;
    height: 2.2rem;
}
.date-label input, .text-label input{
    height: 2.5rem;
    margin-top: 0.2rem;
    border-radius: 1rem;
    width: 95%;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    border: 1px solid #559CAD;
    margin-bottom: 1rem;
    transform: translateX(-1rem);
}
.room-type-radio{
    height: 2.5rem;
    display: block;
}
.form-btn:active{
    width: 90%;
}
form.form-part-1{
   width: 100%;
}
fieldset{
    border: none;
    width: 100%;
    margin: 05;
}
button.submit-btn{
    color: #FFFFFF;
    background-color: #E1CE7A;
    height: 2.5rem;
}
button.submit-btn:hover{
    height: 3rem;
}

/* FOOTER */
footer{
    display: grid;
    background-color: #423E37;
    color: #E1CE7A;
    font-size: 1rem;
}
footer h2{
    color:#FFFFFF;
}
footer hr{
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
footer .footer-first-half{
    text-align: center;
    padding: 1rem;
}
footer .footer-second-half{
    padding: 1rem;
}
footer .footer-second-half img{
    height: 2rem;
}
.scoial-links-box img:hover{
    background-color: #E1CE7A;
}
footer .footer-second-half iframe{
    width: 90vw;
    height: 30rem;
}
footer span{
    text-align: center;
    grid-column: 1/-1;
}

/* ANIMATIONS */
@keyframes transparasize{
    from{opacity: 100%;}
    to{opacity: 0%;}
}
@keyframes opaqusize{
    from{opacity: 0%;}
    to{opacity: 100%;}
}
@keyframes backdrop-animation{
    0%{
        background-color: #423e3717;
    }
    33%{
        background: #559bad17;
    }
    66%{
        background: #e1ce7a44;
    }
    100%{
        background-color: #423e371f;
    }
}

::-webkit-scrollbar{
    background-color: #FFFFFF;
    width: 0.4rem;
}
::-webkit-scrollbar-thumb{
    background-color: #423E37;
    border-radius: 1rem;
}

/* MUST CHANGE */
.hidden-all{
    display: none;
}